

<div id="mobile-nav" class="nav-container">
  <div class="nav-logo">
    <a href="#"><img src="#" alt="" />Home</a>
  </div>

  <i class="fa-solid fa-bars open-menu"></i>
  <div class="background"></div>

  <div class="nav-links-container" aria-label="navigation" data-cel-widget="navigation-mobile-navbar">
    <i class="fa-solid fa-xmark close-menu"></i>

    <ul class="nav-links">
      <li class="nav-link-item dropdown-menu-branch">
        <a href="#" data-toggle="dropdown-menu">Builder  <i class="fa-solid fa-chevron-down"></i></a>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-items"><a href="#">Builder Sub Menu 1</a></li>
          <li class="dropdown-menu-items"><a href="#">Builder Sub Menu 2</a></li>
          <li class="dropdown-menu-items"><a href="#">Builder Sub Menu 3</a></li>
          <li class="dropdown-menu-items"><a href="#">Builder Sub Menu 4</a></li>
        </ul>
      </li>
      <li class="nav-link-item"><a href="#">Explorer</a></li>
      <li class="nav-link-item dropdown-menu-branch">
        <a href="#" data-toggle="dropdown-menu">Marketplace <i class="fa-solid fa-chevron-down"></i></a>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-items"><a href="#">Marketplace Sub Menu 1</a></li>
          <li class="dropdown-menu-items"><a href="#">Marketplace Sub Menu 2</a></li>
          <li class="dropdown-menu-items"><a href="#">Marketplace Sub Menu 3</a></li>
          <li class="dropdown-menu-items"><a href="#">Builder Sub Menu 4</a></li>
        </ul>
      </li>
      <li class="nav-link-item"><a href="#">Business Plan</a></li>
    </ul>
  </div>
</div>

<div id="siteHeader">
    <header class="site-header__navigation clearfix" role="banner" aria-label="navigation">
      <div class="top-header__navigation" role="presentation" aria-label="navigation" data-cel-widget="navigation-desktop-navbar">
        <div class="top-navigation__menu">
          <div class="navigation-menu-left__content">
            <ul class="content-menu__list">
              <li class="menu-list__item"><a [routerLink]="['/']">Route to Home</a></li>
              <li class="menu-list__item"><a [routerLink]="['/']">Route to Home</a></li>
            </ul>
          </div>
          <div class="navigation-menu-middle__content">
            <div id="nav-search">
              <div class="nav-bar-left">
                <form id="nav-search-bar-form" class="nav-searchbar nav-progressive-attribute">
                  <!-- <input name="" id="nav-search-submit-button" class="nav-input" type="text" value="Go" tabindex="0"> -->
                </form>
              </div>
            </div>
          </div>
          <div class="navigation-menu-right__content">
            <ul class="content-menu__list">
              <li class="menu-list__item"><a [routerLink]="['/profile']">Profile</a></li>
              <li class="menu-list__item"><a [routerLink]="['/login']">SignIn</a></li>
              <li class="menu-list__item"><a [routerLink]="['/register']">Sign UP</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="bottom-header__navigation" role="presentation" aria-label="navigation" data-cel-widget="navigation-desktop-navbar">
        <div class="wrapperContainer"><!---->
          <nav class="bottom-navigation__menu">
            <div class="navigation-menu-left__content">
              <ul class="content-menu__list">
                <li class="menu-list__item"><a [routerLink]="['/register']">Route SignUp</a></li>
                <li class="menu-list__item"><a [routerLink]="['/login']">Route SignIn</a></li>
                <li class="menu-list__item"><a [routerLink]="['/profile']">Route Profile</a></li>
              </ul>
            </div>
            <div class="navigation-menu-middle__content">
              <ul class="content-menu__list">
                <li class="menu-list__item"></li>
                <li class="menu-list__item"></li>
                <li class="menu-list__item"></li>
                <li class="menu-list__item"></li>
              </ul>
            </div>
            <div class="navigation-menu-right__content">
              <ul class="content-menu__list">
                <li class="menu-list__item"><a [routerLink]="['/profile']"></a></li>
                <li class="menu-list__item"><a [routerLink]="['/login']">Login</a></li>
                <li class="eGbwE"><a [routerLink]="['/register']">Sign Up</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </div>



