
/* Mobile First */
.container1 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 475px) {
  .container1  {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container1 {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container1 {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container1 {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container1 {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container1 {
    max-width: 1536px;
  }
}
/* End Mobile First */

/* Desktop First */
/*  https://www.youtube.com/watch?v=K24lUqcT0Ms */
/*https://happycoding.io/tutorials/html/layout*/

.container1 {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1536px) {
  .container1  {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container1 {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container1 {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container1 {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container1 {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container1 {
    width: 100%;
  }
}

/* End Desktop First */

/* Amazon Footer */
#navFooter {
  margin-top: 0;
}
#navFooter {
  margin: 30px 0 8px 0;
  padding: 0 0 7px 0;
}
#navFooter.navLeftFooter {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #232F3E;
  width: 100%;
  position: relative;
}
#navFooter.navLeftFooter .navFooterBackToTop {
  margin-bottom: 40px;
  background-color: #37475A;
}
#navFooter .navFooterBackToTop {
  background-color: #f3f3f3;
  margin-bottom: 25px;
}
#navFooter.navLeftFooter .navFooterBackToTop .navFooterBackToTopText {
  color: #FFF;
}
#navFooter .navFooterBackToTop span {
  display: block;
  text-align: center;
  color: #111;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}
#navFooter .navAccessibility.navFooterVerticalColumn {
  display: table;
  margin: 0 auto;
}
#navFooter.navLeftFooter .navFooterVerticalColumn {
  max-width: 100%;
}
#navFooter .navAccessibility.navFooterVerticalRow {
  display: table-row;
}
#navFooter .navAccessibility.navFooterColSpacerInner, #navFooter .navAccessibility.navFooterLinkCol {
  display: table-cell;
  padding: 0 10px;
}
.navFooterVerticalColumn .navFooterColSpacerInner {
  width: 10%;
  padding: 0 15px;
}
#navFooter .navAccessibility.navFooterLinkCol {
  line-height: 120%;
}
.navFooterLinkCol {
  color: #333;
  vertical-align: top;
}
#navFooter.navLeftFooter .navFooterColHead {
  font-weight: 700;
  color: #FFF;
}
.navFooterColHead {
  font-family: inherit;
  color: #FFF;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}
.navFooterLinkCol ul {
  padding: 0;
  margin: 0;
}
#navFooter.navLeftFooter .navFooterLinkCol ul li {
  margin: 0 0 10px;
}
.navFooterLinkCol ul li {
  list-style-type: none;
  white-space: nowrap;
  margin: 0 0 8px 0;
}
#navFooter a:link {
  font-family: inherit;
  color: #004B91;
  text-decoration: none;
}
a, a:link {
  text-decoration: none;
  color: #007185;
}
#navFooter.navLeftFooter a.nav_a:link, #navFooter.navLeftFooter a.nav_a:visited {
  color: #DDD;
}
#navFooter.navLeftFooter .nav_last {
  color: #999;
}
#navFooter.navLeftFooter .nav-Footer-Line {
  border-top: 1px solid #3A4553;
  margin-top: 40px;
}
#navFooter.navLeftFooter div.navFooterLine {
  font-size: 12px;
}
#navFooter.navLeftFooter .navFooterLinkLine {
  margin: 10px auto;
}
#navFooter.navLeftFooter .navFooterPadItemLine {
  text-align: center;
  max-height: 1000px;
  margin: 30px auto 15px;
}
#navFooter.navLeftFooter .navFooterLogoLine {
  text-align: center;
  max-height: 1000px;
  margin: 30px auto 15px;
}
div.navFooterLogoLine {
  margin: 30px 8px 4px 8px;
  font-size: 1px;
  line-height: 0;
}
div.navFooterLine {
  font-family: inherit;
  color: #DDD;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
}
.navFooterLinkLine {
  margin: 0 8px 0 8px;
}
#navFooter a, #navFooter span {
  font-family: inherit;
  white-space: nowrap;
}
/*.navFooterPadItemLine a, .navFooterPadItemLine span {*/
/*  padding: 0 0.6em;*/
/*}*/
.navFooterLinkLine span {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navFooter .nav-logo-base {
  background-position: -10px -90px;
  width: 76px;
  height: 23px;
  margin: 0 auto;
}
.nav-sprite-v1 .nav-sprite {
  background-image: url("#");
  background-position: 0 1000px;
  background-repeat: repeat-x;
}
.icp-container-desktop * {
  box-sizing: border-box;
}
#navFooter.navLeftFooter .navFooterDescLine {
  background-color: #131A22;
  padding: 30px 0;
  margin: 30px 0 0;
}
.navFooterDescLine {
  margin: 20px 0 14px 0;
}
#navFooter.navLeftFooter .navFooterDescLine .navFooterMoreOnA {
  width: 33.333%;
  margin: 0 auto;
}
#navFooter table {
  width: 100%;
}
table:last-child {
  margin-bottom: 0 !important;
}
table {
  border-collapse: collapse;
}
td, th {
  padding: 3px;
  vertical-align: top;
}
#navFooter .navFooterDescItem {
  font-size: 12px !important;
  padding: 0 .75em;
  vertical-align: top;
  text-align: left;
  line-height: 120%;
}
.navFooterDescText {
  font-size: 12px;
  color: #767676;
  line-height: 110%;
  display: block;
  margin-bottom: 1px;
}
#navFooter td {
  font-family: inherit;
  font-size: 13px;
  line-height: 120%;
  padding: 0 10px;

}
#navFooter.navLeftFooter .navFooterCopyright {
  background-color: #131A22;
  width: 100%;
  margin: 0;
  padding: 10px 0 30px;
}
.navFooterLinkLine ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul {
  margin: 0 0 0 18px;
  color: #FFF;
}
#navFooter.navLeftFooter .nav_last {
  color: #999;
}
.navFooterLinkLine ul li:last-child {
  color: #333;
}
.navFooterLinkLine ul li {
  display: inline;
}
#navFooter #nav-icon-ccba {
  background-position: -135px -138px;
  width: 29px;
  height: 14px;
  position: relative;
  top: 2.25px;
}
.navFooterLinkLine span {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* End Amazon Footer */
