




<!--
<div class="container-lg py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a class="d-flex align-items-center text-body-emphasis text-decoration-none" href="/">
      <span class="fs-4">Back to home</span>
    </a>

  </header>
  <div class="p-2 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-2">
      <h1 class="display-5 fw-bold">Custom Jumbotron</h1>
      <p class="col-md-8 fs-4 text-align-center">Using a series of utilities how you can remix and restyle it to your liking.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="row align-items-md-stretch">
      <div class="col-12">
        <div class="h-100 p-3 text-bg-dark rounded-3">
          <h2>Change the background</h2>
          <form class="row g-3">
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Remember me
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="p-5 mb-lg-5 bg-body-white rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"></h1>

    </div>
  </div>

  <footer class="pt-3 mt-4 text-body-secondary border-top">&copy; 2025</footer>
</div>
-->


